@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');

*{
    box-sizing: border-box;
}

html{
    font-family: sans-serif;
}

body{
    margin:0;
    background-color: rgba(134, 134, 134, 25%);
    display:grid;
    grid-template-rows: minmax(4.7rem 20rem) auto 10rem;
    grid-template-areas: "header"
                        "main"
                        "footer";
}

main{
    grid-area:main;
}

footer{
    grid-area:footer;
}

.main-header{
    position:relative;
    background:white;
    padding:1rem;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    min-width: 433px;
    border-bottom: 2px solid black;
    z-index: 2;
    grid-area: header;
}

.mobile-button__section{
    display:flex;
    justify-content: space-between;
    align-items: center;
    width:100%;
    min-width: 300px;
}

.mobile-button{
    background:none;
    border:none;
    padding:0;
    height:1rem;
    width:1.2rem;
    overflow: hidden;
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
}

.mobile-button__bar{
    background: black;
    height:0.25rem;
    width:100%;
}

.logo-container{
    width:100%;
    vertical-align: middle;
    text-align: center;
}

.logo{
    width:50%;
    vertical-align: middle;
}

.main-nav{
    display:none;
    width:100%;
}

.main-nav__items{
    list-style: none;
    display:flex;
    flex-direction: column;
    align-items: left;
    padding:0;
    margin:1rem 2rem;
}

.main-nav__item{
    border-bottom: 2px solid grey;
    border-radius: 0.3rem;
    margin-bottom: 0.3rem;
    padding-bottom: 0.3rem;
}

.main-nav__item a{
    text-decoration: none;
    color:black;
    font-weight: bold;
    font-size: auto;
    margin-left: 0.5rem;
    font-family: 'Roboto Mono', monospace;
}

.main-nav__item a:hover{
    color:red;
}

.backdrop{
    display:none;
    position:fixed;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.5);
    width:100%;
    height:100%;
}

.open{
    display:block !important;
}

.main-footer{
    background:black;

}

.main-footer__logo{
    padding:3rem 0;
    border-bottom: 3px solid gray;
    text-align: center;
}

.main-footer__logo img{
    width:40%;
    max-width: 350px;
    min-width: 250px;
}

.main-footer__elements{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding:0.5rem 2rem;
}

.main-footer__elements i{
    padding:0 0.2rem;
}

.main-footer__elements i:hover{
    color:grey;
}

.main-footer__elements p{
    color:white;
    font-size: 1rem;
}
.main-footer__elements a{
    color:white;
    text-decoration: none;
    font-size: 1rem;
}

.main-footer__elements a:hover{
    color:grey;
}

@media(min-width:52rem){
    
    .main-header{
        flex-direction: row;
        width:100%;
    }

    .logo-container{
        text-align: left;
    }

    .logo{
        width:15rem;
    }

    .mobile-button{
        display:none;
    }

    .main-nav{
        display:block;
    }

    .main-nav__items{
        flex-direction: row;
        white-space: nowrap;
        align-items: center;
    }

    .main-nav__item{
        border-bottom: none;
        padding:0;
        margin:0;
    }
    
    .main-nav__item a{
        margin-right: 1rem;
        font-size: minmax(0.2rem 1rem);
    }

    .intro-section {
        flex-direction: row;
        justify-content: space-around;
    }

    .main-footer__logo{
        padding:4rem 2rem;
        border-bottom: 3px solid gray;
        text-align: left;
    }

    .main-footer__elements{
        flex-direction: row;
        transform:rotateZ('20deg');
    }

    .wiggle{
        animation: wiggle 0.1s 3s none 8 alternate;
    }
}

@keyframes wiggle {
    0%{
        transform:rotateZ(-10deg);
    }
    50%{
        transform:rotateZ(0);
    }
    100%{
        transform: rotateZ(10deg);
    }
}