.intro-section{
    display:flex;
    align-items: center;
    justify-content: center;
    width:90%;
    margin:1rem auto;
}
.intro-section__message{
    width:10%;
    min-width: 58px;
    max-width: 100px;
}

.intro-section__message img{
    width:100%;
}

.intro-section__image{
    width:80%;
    min-width: 325px;
    max-width: 490px;
    margin:0 1rem;
    overflow: hidden;
}

.intro-section__image img{
    width:100%;
}

.transition-img1{
    animation: none
}

.transition-img2{
    animation: none;
}

.hide{
    display:none;
}

.models_background {
    background-color: grey;
    width:100%;
    margin:3rem 0;
    padding:1rem 0;
    text-align: center;
}

.models_background img{
    width:50%;
}

.models-section{
    width:95%;
    margin:1rem auto;
    overflow: hidden;
    display:grid;
    justify-items: center;
    display:flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    max-width: 1600px;
}

.models-section div{
    width:100%;
    overflow: hidden;
    min-width: 400px;
    max-width: 500px;
    margin-bottom: 1rem;
}

.models-section a{
    display:inline-block;
}

.models-section img{
    width:100%;
    vertical-align: middle;
    transition: transform 500ms 0.1s;
    
}

.models-section img:hover{
    transform:scale(1.2);
}

@media(min-width:52rem){
    
    .models_background{
        background: none;
    }
    .models-section {
        flex-direction: row;
        justify-content: space-around;
    }

    .top-model__badge{
        width:18rem;
    }
    
    .top-model__imgcontainer h1{
        font-size: 1.4rem;
    }
    .transition-img1{
        animation: slide1 1s;
    }
    
    .transition-img2{
        animation: slide2 1s;
    }
    .hide{
        display:block;
    }
}

@keyframes slide1 {
    from{
        transform: translateY(-100%);
    }
    to{
        transform: translateY(0);
    }
}

@keyframes slide2 {
    from{
        transform: translateY(100%);
    }
    to{
        transform: translateY(0);
    }
}